@page "/access-requests"
@using OfficeEntry.Domain.Entities;
@using OfficeEntry.WebUI.Client.Components.AccessRequestComponents.Card
@inject HttpClient Http
@inject IStringLocalizer<App> Localizer

<h1>@Localizer["My Requests"]</h1>

@if (accessRequests == null)
{
    <Loading />
}
else
{
    foreach (var accessRequest in accessRequests)
    {
        <AccessRequestCard AccessRequest="@accessRequest"></AccessRequestCard>
    }
}

@code {
    private Domain.Entities.AccessRequest[] accessRequests;

    protected override async Task OnInitializedAsync()
    {
        accessRequests = await Http.GetFromJsonAsync<Domain.Entities.AccessRequest[]>("api/AccessRequests");
    }
}