@page "/access-requests"
@using OfficeEntry.Domain.Enums;
@using OfficeEntry.WebUI.Client.Components.AccessRequestComponents.Card
@using System.Globalization
@inject HttpClient Http
@inject IStringLocalizer<App> Localizer

<h1>@Localizer["My Requests"]</h1>

@if (accessRequests == null)
{
    <Loading />
}
else
{
    foreach (var accessRequest in accessRequests)
    {
        <AccessRequestCard AccessRequest="@accessRequest"></AccessRequestCard>
    }
}

@code {
    private Domain.Entities.AccessRequest[] accessRequests;

    protected override async Task OnInitializedAsync()
    {
        var locale = CultureInfo.DefaultThreadCurrentUICulture.TwoLetterISOLanguageName;
        locale = (locale == Domain.Enums.Locale.French) ? locale : Domain.Enums.Locale.English;

        accessRequests = await Http.GetFromJsonAsync<Domain.Entities.AccessRequest[]>("api/AccessRequests");

        foreach (var accessRequest in accessRequests)
        {
            accessRequest.Building.Name = (locale == Locale.French) ? accessRequest.Building.FrenchName : accessRequest.Building.EnglishName;
            accessRequest.Floor.Name = (locale == Locale.French) ? accessRequest.Floor.FrenchName : accessRequest.Floor.EnglishName;
        }
    }
}