@page "/health-and-safety-measures"
@inherits HealthAndSafetyMeasuresStatementBase


<h1>Health & Safety Measures</h1>

@if (SurveyData is null)
{
    <p>Loading...</p>
}
else
{
    <Survey Id="surveyElementPrivacyAct"
            SurveyUrl="sample-data/healthSafetyMeasuresSurvey.json"
            OnSurveyCompleted="@OnSurveyCompleted"
            Data="@SurveyData" />
}