@page "/health-and-safety-measures"
@inherits HealthAndSafetyMeasuresStatementBase


<h1>Health & Safety Measures</h1>

<Survey Id="surveyElement"
        SurveyUrl="sample-data/healthSafetyMeasuresSurvey.json"
        OnSurveyCompleted="@OnSurveyCompleted"
        OnLoadData="LoadDataHandler" />

@code {
    protected async Task LoadDataHandler(Survey sender)
    {
        var isHealthAndSafetyMeasuresStatementAccepted = await Http.GetFromJsonAsync<bool>("api/HealthAndSafetyMeasures");

        string data = "";
        if (isHealthAndSafetyMeasuresStatementAccepted)
        {
            data = "{ \"questionAcceptHsmStatement\": [ \"iAcceptHsmStatement\" ] }";
        }

        await sender.SetData(data);
    }
}