@page "/"
@page "/en"
@page "/fr"

@using System.Globalization

@inject IStringLocalizer<Index> Localizer
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<h1>@Localizer["Office Entry"]</h1>

<button class="btn btn-primary" @onclick="SetLanguageToFrench">Français</button>
<button class="btn btn-primary" @onclick="SetLanguageToEnglish">English</button>

@code {
    public async Task SetLanguageToFrench()
    {
        await JSRuntime.InvokeVoidAsync("blazorCulture.set", "fr-CA");

        var culture = new CultureInfo("fr-CA");
        CultureInfo.DefaultThreadCurrentCulture = culture;
        CultureInfo.DefaultThreadCurrentUICulture = culture;

        NavigationManager.NavigateTo("/fr", forceLoad: false);
    }

    public async Task SetLanguageToEnglish()
    {
        await JSRuntime.InvokeVoidAsync("blazorCulture.set", "en-CA");

        var culture = new CultureInfo("en-CA");
        CultureInfo.DefaultThreadCurrentCulture = culture;
        CultureInfo.DefaultThreadCurrentUICulture = culture;

        NavigationManager.NavigateTo("/en", forceLoad: false);
    }
} 