@page "/privacy-act-statement"
@inherits PrivacyActStatementBase

<h1>Privacy Act Statement</h1>

<Survey Id="surveyElementPrivacyAct"
        SurveyUrl="sample-data/privacyActStatementSurvey.json"
        OnSurveyCompleted="@OnSurveyCompleted"
        Data="@Data"/>