@page "/review-access-requests"

@using OfficeEntry.WebUI.Client.Components.AccessRequestComponents.Card

@inject HttpClient Http
@inject IStringLocalizer<App> Localizer

<h3>@Localizer["Review Access Requests"]</h3>

@if (accessRequests == null)
{
    <Loading />
}
else
{
    foreach (var accessRequest in accessRequests)
    {
        <AccessRequestCard AccessRequest="@accessRequest"></AccessRequestCard>
    }
}

@code {
    private Domain.Entities.AccessRequest[] accessRequests;

    protected override async Task OnInitializedAsync()
    {
        accessRequests = await Http.GetFromJsonAsync<Domain.Entities.AccessRequest[]>("api/ReviewAccessRequests");
    }
}