@page "/submit-access-request"
@inherits SubmitAccessRequestBase

@inject IStringLocalizer<App> Localizer

<h1>@Localizer["Submit Access Request"]</h1>

@if (SurveyCompleted)
{
    <Loading />
}

@if (!IsLoaded)
{
    <Loading />
}
else
{
    if (ShowSpotsAvailablePerHours)
    {
        <SpotsAvailablePerHours />
    }

    <Survey Id="surveyElementSubmitAccessRequest"
            SurveyUrl="sample-data/accessRequestSurvey.json"
            OnSurveyCompleted="@OnSurveyCompleted"
            OnPageChanged="@OnPageChanged" />

}