@page "/submit-access-request"
@inherits SubmitAccessRequestBase

<h1>Submit Access Request</h1>

<Survey Id="surveyElementSubmitAccessRequest"
        SurveyUrl="sample-data/accessRequestSurvey.json"
        OnSurveyCompleted="@OnSurveyCompleted" />