# Specify location of manifest files for each package manager

version: 2
updates:
  - package-ecosystem: "nuget"
    directories: 
      - "/src/Application"
      - "/src/Domain"
      - "/src/Infrastructure"
      - "/src/OfficeEntry.Plugins"
      - "/src/WebApp"
      - "/tests/Application.UnitTests"
      - "/tests/Domain.UnitTests"
      - "/tests/Infrastructure.IntegrationTests"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "Microsoft.CrmSdk.CoreAssemblies"
    open-pull-requests-limit: 0
