@inject HttpClient Http
@inject IStringLocalizer<LoginDisplay> Localizer

@if (name is null)
{
    <Loading />
}
else
{
    <div>@Localizer["Hello,"] @name</div>
}

@code{
    private string name;

    protected override async Task OnInitializedAsync()
    {
        name = await Http.GetStringAsync("api/Identity");
    }
}