<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">COVID-19 Office Entry</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="locations">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Location (Buildings)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="submit-access-request">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Submit Access Request
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="access-requests">
                <span class="oi oi-list-rich" aria-hidden="true"></span> My Requests
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="access-requests">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Approve Requests
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="health-and-safety-measures">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Health & Safety Measures
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="privacy-act-statement">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Privacy Act Statement
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
