<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.webServer xdt:Transform="InsertIfMissing">
        <rewrite xdt:Transform="InsertIfMissing">
            <rules xdt:Transform="InsertIfMissing">
                <rule name="Redirect - 30 Victoria Street - 7th Floor" stopProcessing="true"
                    xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)">
                    <match
                        url="^(en/floor-plans/map|fr/plans-d-etages/carte)/55bd04c4-7430-ed11-a2fd-005056aa7ac3$" />
                    <action type="Rewrite" url="{R:1}/24a77019-a839-f111-a31a-005056aa7ac3" />
                </rule>
                <rule name="Redirect - 30 Victoria Street - 8th Floor" stopProcessing="true"
                    xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)">
                    <match
                        url="^(en/floor-plans/map|fr/plans-d-etages/carte)/9dc5b8b6-7430-ed11-a2fd-005056aa7ac3$" />
                    <action type="Rewrite" url="{R:1}/26d6252e-a839-f111-a31a-005056aa7ac3" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>