@page "/access-requests"
@page "/demandes-d-acces"

@using OfficeEntry.Infrastructure.Services.Xrm.Entities
@using OfficeEntry.WebApp.Shared

<h1>@Localizer["My Requests"]</h1>

@if (_accessRequests is null)
{
    <Loading />
}
else
{
    <AccessRequestDatatable AccessRequests="@_accessRequests"></AccessRequestDatatable>
}