@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@page "/en/health-and-safety-measures"
@page "/fr/mesures-de-sante-et-de-securite-relatives"

<h1>@Localizer["Health & Safety Measures"]</h1>

@if (SurveyData is null)
{
    <Loading />
}
else
{
    <Survey Id="surveyElementPrivacyAct"
            SurveyUrl="sample-data/healthSafetyMeasuresSurvey.json"
            OnSurveyCompleted="@OnSurveyCompleted"
            Data="@SurveyData" />
}

@if (SurveyCompleted)
{
    <Loading />
}