@page "/health-and-safety-measures"
@inherits HealthAndSafetyMeasuresStatementBase

@inject IStringLocalizer<App> Localizer

<h1>@Localizer["Health & Safety Measures"]</h1>

@if (SurveyData is null)
{
    <Loading />
}
else
{
    <Survey Id="surveyElementPrivacyAct"
            SurveyUrl="sample-data/healthSafetyMeasuresSurvey.json"
            OnSurveyCompleted="@OnSurveyCompleted"
            Data="@SurveyData" />
}

@if (SurveyCompleted)
{
    <Loading />
}