@layout LanguageLayout

@page "/"
@page "/fr"
@page "/en"

<div class="text-center">

    <h1>Commissariat à la protection de la vie privée du Canada / Office of the Privacy Commissioner</h1>

    <button class="btn btn-primary" @onclick="SetLanguageToFrench">Français</button>
    <button class="btn btn-primary" @onclick="SetLanguageToEnglish">English</button>
</div>