@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@page "/en/my-access-requests"
@page "/fr/mes-demandes-d-acces"

@using OfficeEntry.WebApp.Shared


<h1>@Localizer["My Requests"]</h1>

@if (MyAccessRequestsState.Value.IsLoading || MyTermsAndConditionsState.Value.IsLoading)
{
    <Loading />
}
else
{
    if (!MyTermsAndConditionsState.Value.AreTermsAndConditionsAccepted)
    {
        <TermsAndConditionsCard />
    }

    <AccessRequestDatatable AccessRequests="@MyAccessRequestsState.Value.AccessRequests" />

    <button @onclick="Refresh" class="btn btn-secondary">
        <span class="oi oi-reload"></span>
        <span>@Localizer["Refresh the list"]</span>
    </button>
}