@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@page "/en/my-access-requests"
@page "/fr/mes-demandes-d-acces"

@using OfficeEntry.WebApp.Shared


<h1>@Localizer["My Requests"]</h1>

@if (MyAccessRequestsState.Value.IsLoading || MyTermsAndConditionsState.Value.IsLoading)
{
    <Loading />
}
else
{
    if (!MyTermsAndConditionsState.Value.AreTermsAndConditionsAccepted)
    {
        <TermsAndConditionsCard />
    }

    // The ordering matches the list order returned by the application layer
    //     - StartTime
    //     - Status
    <AccessRequestDatatable AccessRequests="@MyAccessRequestsState.Value.AccessRequests"
                            DataOrder="@( "[[ 0, \"desc\" ], [ 4, \"asc\" ]]" )">
    </AccessRequestDatatable>

    <button @onclick="Refresh" class="btn btn-secondary">
        <span class="oi oi-reload"></span>
        <span>@Localizer["Refresh the list"]</span>
    </button>
}