@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@page "/en/review-access-requests"
@page "/fr/approuver-les-demandes"

@using OfficeEntry.WebApp.Shared

<h1>@Localizer["Review Access Requests"]</h1>

@if (ApprovalsState.Value.IsLoading)
{
    <Loading />
}
else
{
    <AccessRequestDatatable AccessRequests="@ApprovalsState.Value.AccessRequests"></AccessRequestDatatable>

    <button @onclick="Refresh" class="btn btn-secondary">
        <span class="oi oi-reload"></span>
        <span>@Localizer["Refresh the list"]</span>
    </button>
}