@page "/review-access-requests"
@page "/approuver-les-demandes"

@using OfficeEntry.WebApp.Shared

<h1>@Localizer["Review Access Requests"]</h1>

@if (_accessRequests is null)
{
    <Loading />
}
else
{
    <AccessRequestDatatable AccessRequests="@_accessRequests"></AccessRequestDatatable>
}