@page "/review-access-requests"

@using OfficeEntry.WebApp.Components.AccessRequestComponents.Card

<h1>@Localizer["Review Access Requests"]</h1>

@if (accessRequests is null)
{
    <Loading />
}
else
{
    foreach (var accessRequest in accessRequests)
    {
        <AccessRequestCard AccessRequest="@accessRequest"></AccessRequestCard>
    }
}