@page "/submit-access-request"
@page "/soumettre-une-demande"

<h1>@Localizer["Submit Access Request"]</h1>

@if (SurveyCompleted)
{
    <Loading />
}

@if (Loading)
{
    <Loading />
}
else
{
    if (ShowSpotsAvailablePerHours)
    {
        <SpotsAvailablePerHours Data="FloorCapacity" />
    }

    <Survey Id="surveyElementSubmitAccessRequest"
            SurveyUrl="sample-data/accessRequestSurvey.json"
            OnSurveyCompleted="@OnSurveyCompleted"
            OnPageChanged="@OnPageChanged"
            OnSurveyLoaded="@OnSurveyLoaded"/>

}