@page "/en/submit-access-request"
@page "/fr/soumettre-une-demande"

<h1>@Localizer["Submit Access Request"]</h1>

@if (SurveyCompleted)
{
    <Loading />
}

@if (ShowSpotsAvailablePerHours)
{
    <SpotsAvailablePerHours Data="FloorCapacity" />
}

<Survey Id="surveyElementSubmitAccessRequest"
        Data="@( System.Text.Json.JsonSerializer.Serialize(new { registerVisitors = false, startDate = DateTime.Now.AddDays(1).ToString("MM/dd/yyyy"), startTime = 9, endTime = 17 }) )"
        SurveyUrl="sample-data/accessRequestSurvey.json"
        OnSurveyCompleted="@OnSurveyCompleted"
        OnPageChanged="@OnPageChanged" />
