@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@page "/en/terms-and-conditions"
@page "/fr/modalites-et-conditions"


<h1>@Localizer["Terms and Conditions"]</h1>

@if (TermsAndConditionsState.Value.IsLoading)
{
    <Loading />
}
else
{
    <TermsAndConditionsCard />
}