@implements IDisposable
@inject ISurveyInterop SurveyInterop
@inject IJSRuntime JSRuntime
@using OfficeEntry.WebApp.Models
@using Newtonsoft.Json
@using System.Globalization
@using OfficeEntry.Domain.Enums

<div id="blazor-survey-wraper">
    @if (_isErrorActive)
    {
        <Error OnDismissButtonClick="HideError"/>
    }
</div>
